*{  padding: 0;
    margin: 0;
}
body{
    background-color: black;
    background-image: url("./../imagenes/fondo_blanco.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* SCROLL */
*::-webkit-scrollbar {
  @include medida (5px, 5px)};

  *::-webkit-scrollbar-track {
    background: rgba(177, 167, 167, 0.349);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #692125;
    border-radius: 5px;    
  }

  /* ENCABEZADO */
  a{text-decoration: none;}
.Encabezado{
    padding-top: 20px;

    .Icono{
      @include medida (50px, 50px);
        margin: -15px 2vh -5px;
        animation-duration: 1.5s;
        animation-delay: 4s;
        animation-name: rotarIcono;
      }
}

  .Menu li a:hover{
    padding-left: 1.5rem;
    transform: scale(1.05);
    background-color: $bordo;
  }
  .navbar-toggler:hover{
    background-color: rgba(139, 0, 0, 0.527);
  }
  .inicioT{
      font-family: map-get($tipografia, letra2),'cursive';
  }
  

  .Preferencia {
    font-family: map-get($tipografia, letra2,);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
    rgba(120,120,120,1) 50%, rgba(0,0,0,1) 100%);
    border-bottom: 4px solid $bordo;
    border-top: 3px solid $bordo;

            .Icon{
              @include max-medida (65px, 65px);
              margin: 1.5vh;
              animation-duration: 1.5s;
              animation-delay: 4s;
              animation-name: rotarIcono;}
                      @keyframes rotarIcono {
                        0%{
                            transform: rotate(0deg)
                        }
                        25%{
                            transform: rotate(-35deg)}
                      
                        50%{
                            transform: rotate(0deg)
                        }
                        50%{
                            transform: rotate(35deg)}
                      
                        100%{
                            transform: rotate(0deg)
                        }
                      }
   }

/* FOOTER */
.footer{
  @extend %pie;
  border-top: 4px solid $bordo;
}

.footer2{
  @extend %pie;
}  
  